.container {
    width:800px;
    height :800px;
    position: relative;
    background-color: red;
  }
  .small-box {
    width: 500px;
    height: 550px;
    background-color: green;
    position: absolute;
    margin-top: 150px;
    margin-left: 200px;
    
    
  }
  .small-box>span {
    color: #ffffff;
    position: relative;
    margin-left: 10px;
  }